/* PORTFOLIO PAGE STYLES */

/* about/portfolio layout */
.content-container {
    display: grid;
    padding: 1%;
}
#a-title {
    background-color: rgba(208, 208, 208, 0.3);
    border-radius: 50px;
    padding-left: 2%;
}
#about-title-left {
    float: left;
}
#about-title-right {
  float: right;
  padding-right: 3%;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1%;
}

/* left blob */
.g-left {
    background-image: linear-gradient(rgba(236, 244, 163, 0.495) 0%, #eae4d7 2%, rgba(0, 128, 0, 0.401) 150%);
    border-radius: 20px;
    padding: 5%;
    padding-right: 8%;
    padding-left: 7%;
    margin-right: 2%;
}

.description-title {
    font-size: 1.6em;
    font-family: 'Anton', sans-serif;
}
.description-text {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

/* carousel */
* {box-sizing:border-box}
.slideshow-container {
  max-width: 40rem;
  max-height: 600px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.mySlides { display: none; }
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}
.next { right: 0; }
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active, .dot:hover { background-color: #717171; }
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Caption text */
.text {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-shadow:
  1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  letter-spacing: 2px;
}

/* Prevent nav shifting on contents of portfolio page */
body.portfolio-page nav a:hover {
    font-size: inherit !important;      /* Stop navbar from growing */
    text-underline-offset: 0.3rem !important; /* Smaller underline offset */
}
